<div class="container">
	<h1><%=t 'homepage.h1' %></h1>
	<h2><%=t 'homepage.h2' %></h2>
	
	<div id="featured" class="clearfix">
		<a class="feature" href="/services">
			<%= image_tag('home/clinics.jpg', :alt => '') %> 
			<span class="highlighted"><%=t 'homepage.features.clinics' %></span>
		</a>
		
		<a class="feature" id="middleFeature" href="/about">
			<%= image_tag('home/coaches.jpg', :alt => '') %> 
			<span class="highlighted"><%=t 'homepage.features.instruction' %></span>
		</a>
		
		<a class="feature" href="/events">
			<%= image_tag('home/events.jpg', :alt => '') %> 
			<span class="highlighted"><%=t 'homepage.features.event' %></span>
		</a>
	</div>
</div>

<div class="announcement">
	<div class="heading"><%=t 'homepage.announcement.heading' %>: <%= @post.updated_at.strftime("%m/%d/%y") %></div>
	<h3><%= link_to I18n.locale.to_s == 'es' ? @post.title_es : @post.title_en, "/news" %></h3>
	<a href="/news"><%=t 'homepage.announcement.more' %></a>
	
	<div class="snLinks">
		<%= link_to image_tag('global/twitter.png', :alt => "Twitter"), "http://twitter.com/isvaelsport", :class => 'snLink' %>
		<%= link_to image_tag('global/facebook.png', :alt => "Facebook"), "http://www.facebook.com/pages/Isvael-Sport/226323060728708", :class => 'snLink' %>
	</div>
</div>

<div class="container clearfix" id="dvd">
	<h4><%=t 'homepage.h4' %></h4>
	
	<div id="trailer">
		<iframe width="560" height="349" src="http://www.youtube.com/embed/IvFB37wFgrM?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	
	<a id="poster" href="/contact?buy=true">
		<span class="highlighted"><%=t 'homepage.dvd' %></span>
		<%= image_tag('home/dvd.png', :alt => '') %>
		
		<div id="paypalButton">
			<%= image_tag('global/buyNow.gif', :alt => 'Buy Now') %>
		</div>
	</a>
</div>