<div class="container">
	<h1><%=t 'nav.about' %></h1>
	
	<p><strong><%=t 'about.bold_intro' %></strong> <%=t 'about.intro' %></p>

	<div class="column1">
		<h2><a href="/about/valerie_gotay">Valerie Gotay &raquo;</a></h2>
		<a href="/about/valerie_gotay"><%= image_tag('about/vg.jpg', :alt => 'Valerie Gotay', :class => 'coachPhoto') %></a>

		<p><strong><%=t 'about.val.intro' %></strong></p>
		<p><%=t 'about.val.p1' %></p>
		<p><%=t 'about.val.p2' %></p>

		<ul>
			<% I18n.t('about.val.list').each_with_index do |item, index| %>
				<li><%=t "about.val.list.item#{index}" %></li>
			<% end %>
		</ul>
	</div>

	<div class="column2">
		<h2><a href="/about/israel_hernandez">Israel Hernandez &raquo;</a></h2>
		<a href="/about/israel_hernandez"><%= image_tag('about/ih.jpg', :alt => 'Israel Hernandez', :class => 'coachPhoto') %></a>

		<p><strong><%=t 'about.israel.intro' %></strong></p> 
		<p><%=t 'about.israel.p1' %></p>
		<p><%=t 'about.israel.p2' %></p>

		<ul>
			<% I18n.t('about.israel.list').each_with_index do |item, index| %>
				<li><%=t "about.israel.list.item#{index}" %></li>
			<% end %>
		</ul>
	</div>
</div>