<div class="container">
	<h1><%=t 'nav.products' %></h1>

	<div class="column1">
		<!-- <h2><a href="/products/dvd"><%=t 'products.dvd.title' %> &raquo;</a></h2> -->
		<h2><%=t 'products.dvd.title' %></h2>
		<p><strong><%=t 'products.dvd.intro' %></strong></p>
		
		<p><iframe width="360" height="205" src="http://www.youtube.com/embed/IvFB37wFgrM?rel=0" frameborder="0" allowfullscreen></iframe></p>

		<p><%=t 'products.dvd.p1' %></p>
		<p><%=t 'products.dvd.p2' %></p>
		
		<h3><%=t 'products.dvd.material_covered.title' %></h3>
		
		<ul>
			<% I18n.t('products.dvd.material_covered.list').each_with_index do |item, index| %>
				<li><%=t "products.dvd.material_covered.list.item#{index}" %></li>
			<% end %>
		</ul>
		
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="buyNow">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="44RRW76W8TDWL">
			<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		</form>
		
		<h3><%=t 'products.dvd.seoi_history.title' %></h3>

		<p><%=t 'products.dvd.seoi_history.p0' %></p>
		<p><%=t 'products.dvd.seoi_history.p1' %></p>
		<p><%=t 'products.dvd.seoi_history.p2' %></p>
		<p><%=t 'products.dvd.seoi_history.p3' %></p>
		
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="buyNow">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="44RRW76W8TDWL">
			<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		</form>
	</div>

	<div class="column2">
		<!-- <h2><a href="/products/poster"><%=t 'products.poster.title' %> &raquo;</a></h2> -->
		<h2><%=t 'products.poster.title' %></h2>
		<p><strong><%=t 'products.poster.intro' %></strong></p> 
		
		<!-- <p><a href="/products/poster"><%= image_tag('products/poster.jpg', :alt => 'Poster', :class => 'productPhoto') %></a></p> -->
		<p><%= image_tag('products/poster.jpg', :alt => 'Poster', :class => 'productPhoto') %></p>

		<p><%=t 'products.poster.p1' %></p>
		<p><%=t 'products.poster.p2' %></p>
		<p><%=t 'products.poster.p3' %></p>
		
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="buyNow">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="333HEP2RVKFZN">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		</form>
	</div>
</div>